@import '/assets/scss/variables';

.header {
	margin: 20px 0;

	&-container {
		display: flex;
		gap: 20px;
		align-items: center;
		position: relative;
	}

	&-ask {
		flex-grow: 1;
	}
}

.container {
	position: relative;
	z-index: 100;
}
