@import '/assets/scss/variables';
@import '/assets/scss/mixins';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 50px;
  padding: 0 20px;
  border-radius: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 1s;
  font-weight: 700;

  &[disabled] {
    cursor: not-allowed;
  }
}

.primary {
  background: $button-primary;
  color: $text-white;

  &.outline {
    border: 1px solid $button-primary;
    color: $button-primary;
    background: transparent;
    @media (min-width: $md3 + px) {
      &:not([disabled]):hover {
        color: $text-white;
        border-color: transparent;
      }
    }

    &[disabled] {
      background: transparent;
      border-color: $button-disabled;
    }
  }

  @media (min-width: $md3 + px) {
    &:not([disabled]) {
      @include gradientAnimation(
        $button-gradient-from,
        $button-gradient-to,
        1s
      );
    }
  }

  &:active {
    background: $button-active;
  }

  &[disabled] {
    background: $button-disabled;
    color: $text-fourth;
  }
}

.secondary {
  background: $button-primary-dark;
  color: $text-white;

  &.outline {
    border: 1px solid $border-white;
    color: $text-white;
    background: transparent;
    @media (min-width: $md3 + px) {
      &:not([disabled]):hover {
        color: $text-white;
        border-color: transparent;
      }
    }

    &[disabled] {
      background: transparent;
      border-color: $bg-white-alpha-20;
      color: $bg-white-alpha-20;
    }
  }

  @media (min-width: $md3 + px) {
    &:not([disabled]) {
      @include gradientAnimation(
        $button-gradient-from,
        $button-gradient-to,
        1s
      );
    }
  }

  &:active {
    background: $button-active;
  }

  &[disabled] {
    background: $bg-white-alpha-10;
    color: $text-white-alpha;
  }
}

.white {
  background: $bg-white;
  color: $text-primary;

  &.outline {
    border: 1px solid $border-white;
    color: $text-white;
    background: transparent;
    @media (min-width: $md3 + px) {
      &:not([disabled]):hover {
        color: $text-white;
        background: transparent;
        border-color: $border-white-alpha;
      }
    }

    &:not([disabled]):active {
      border-color: $bg-white-alpha-10;
      color: $text-white-alpha-20;
    }

    &[disabled] {
      background: transparent;
      border-color: $bg-white-alpha-20;
      color: $bg-white-alpha-20;
    }
  }

  @media (min-width: $md3 + px) {
    &:not([disabled]):hover {
      background: $bg-white-alpha;
      color: $text-white;
    }
  }

  &:not([disabled]):active {
    background: $bg-white-alpha-10;
    color: $text-white;
  }

  &[disabled] {
    background: $bg-white-alpha-20;
    color: $text-white-alpha-20;
  }
}

.small {
  height: 30px;
  font-size: 14px;
}
