@import 'fonts';
@import 'base';
@import 'variables';
@import 'null';
@import 'animation';
@import 'typography';
@import 'videojs';
@import 'dark';

body {
	background: $bg-secondary;

	&.lock {
		overflow: hidden;
	}
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.page {
	flex: 1 1 auto;
	padding: 0 0 80px;
	@media (max-width: $md3 + px) {
		padding: 0 0 32px;
	}

	&-main {
		padding: 0;
	}
}

svg {
	width: 24px;
	height: 24px;
}
