@import 'variables';

.title {
  text-transform: uppercase;
  line-height: 120%;
  font-family: $fontSecond;
  font-size: 46px;
  @media (max-width: $md3 + px) {
    font-size: 38px;
  }

  &-md {
    font-size: 38px;
    @media (max-width: $md3 + px) {
      font-size: 24px;
    }
  }

  &-s {
    font-size: 30px;
    @media (max-width: $md3 + px) {
      font-size: 18px;
    }
  }

  &-xs {
    font-size: 24px;
    @media (max-width: $md3 + px) {
      font-size: 16px;
    }
  }

  &-xxs {
    font-size: 20px;
    @media (max-width: $md3 + px) {
      font-size: 14px;
    }
  }
}

.subtitle {
  font-size: 20px;
  line-height: 120%;
  @media (max-width: $md2 + px) {
    font-size: 16px;
  }
}

.text {
  line-height: 120%;
  @media (min-width: $md3 + px) {
    font-size: 14px;
  }

  &-medium {
    font-size: 14px;
    @media (min-width: $md3 + px) {
      font-size: 12px;
    }
  }

  &-s {
    font-size: 12px;
  }

  &-xs {
    font-size: 10px;
  }
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}
