$font: 'TT Norms';
$fontSecond: 'EuropeExt';
$font-size: 16px;
$minWidth: 360px;

// text
$text-primary: #2d3744;
$text-secondary: #58687c;
$text-third: #8696a9;
$text-fourth: #dce6ef;
$text-white: #ffffff;
$text-white-alpha: rgba(255, 255, 255, 0.5);
$text-white-alpha-20: rgba(255, 255, 255, 0.2);
$text-blue: #26aff0;
$text-red: #ff5741;
$text-red-light: #ffbeb5;
$text-green: #46b952;
$text-warning: #ffd12d;

// background
$bg-white: #ffffff;
$bg-white-alpha: rgba(255, 255, 255, 0.5);
$bg-white-alpha-20: rgba(255, 255, 255, 0.2);
$bg-white-alpha-10: rgba(255, 255, 255, 0.1);
$bg-primary: #f1faff;
$bg-secondary: #d8f2ff;
$bg-third: #eff6f9;
$bg-fourth: #dce6ef;
$bg-blue: #26aff0;
$bg-red: #ffedeb;
$bg-green: #edffef;
$bg-black: #2d3744;
$bg-gradient: linear-gradient(207deg, #a8e2ff 9%, #0095db 100%);

// border
$border-primary: #e5edf0;
$border-secondary: #8696A9;
$border-white: #ffffff;
$border-white-alpha: rgba(255, 255, 255, 0.5);
$border-blue: #26aff0;
$border-blue-dark: #2db4f4;
$border-red: #ff5741;
$border-red-light: #ffbeb5;
$border-green: #46b952;

// buttons
$button-gradient-from: #a8e2ff;
$button-gradient-to: #0095db;
$button-primary: #26aff0;
$button-primary-dark: #3fc1ff;
$button-hover: #62ccff;
$button-active: #0078b0;
$button-disabled: #eff6f9;

$md1: 1260;
$md2: 992;
$md3: 768;
$md4: 540;
$md5: 420;
